
<div
  class="flex flex-column d-flex justify-content-center align-items-center main-content-container"
>
  <div
    class="card flex d-flex flex-column col-md-2 align-items-center justify-items-center"
  >
    <h3 class="card-title">Login to your account</h3>
    <p class="d-flex flex-column">
      Don't have an account yet?
      <a class="lnk-toggler" data-panel=".panel-signup" routerLink="/register"
        routerLinkActive="active" >Register</a
      >
    </p>
    <form class="loginForm" [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          class="form-control email my-2"
          name="emailId"
          required
          placeholder="Email address"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          class="form-control password"
          name="password"
          required
          placeholder="Password"
        />
      </div>
      <div
        class="row remember-row d-flex justify-content-between pt-4 me-5"
      ></div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
</div>
