.main-content-container{
    background-image: url('../../../assets/background.jpeg');
    height: 100vh;
}

.card-body{
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 10px white;
    display: flex;
    align-items: center;
    color:black;
    background-color: aliceblue;
}

.form-group {
    box-sizing: border-box;
    box-shadow: skyblue;
}

.form-check-input {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.btn-lg {
    margin-right: 90px;
}
.card{
    background-color: aliceblue;
    padding: 2%;
}