.w-100 {
  width: 100%;
}
.container {
  padding-top: 2%;
  height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
}
.align {
  display: flex;
  flex-direction: row;
}

.bug-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  overflow: auto;
  max-height: 500px;

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  input[type="radio"] {
    margin-right: 10px;
  }
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  transition: 0.3s;
}
