<div class="nav-bar-container">
  <app-navbar></app-navbar>
</div>
<div class="align">
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div class="container">
    <div class="card-header flex jc_end">
      <form [formGroup]="searchForm" (ngSubmit)="applySearchs()">
        <input
          type="text"
          formControlName="searchQuery"
          placeholder="Search by bug title"
          class="mr-2"
        />
        <select formControlName="filterSeverity" (change)="applyFilters()">
          <option value="">All Severities</option>
          <option value="high">high</option>
          <option value="medium">medium</option>
          <option value="low">low</option>
        </select>

        <select formControlName="filterStatus" (change)="applyFilters()">
          <option value="">All Status</option>
          <option value="Open">Open</option>
          <option value="inProgress">In Progress</option>
          <option value="resolved">Resolved</option>
          <option value="closed">Closed</option>
        </select>
        <button class="btn btn-success" (click)="createBug()">
          Create Bug
        </button>
      </form>
    </div>
    <div class="card-body">
      <table class="mat-elevation-z14 bug-table">
        <thead>
          <tr>
            <th>Bug ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Expected Result</th>
            <th>Actual Result</th>
            <th>Tester Name</th>
            <th>Developer Name</th>
            <th>FilePath</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of filteredBugs">
            <td (click)="onBugIdClick(bug.bugId)">{{ bug.bugId }}</td>
            <td>{{ bug.title }}</td>
            <td>{{ bug.description }}</td>
            <td>{{ bug.severity }}</td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.expectedResult }}</td>
            <td>{{ bug.actualResult }}</td>
            <td>{{ bug.testerName }}</td>
            <td>{{ bug.developerName }}</td>
            <td><img [src]="bug.filePath" width="400px" /></td>
            <td>{{ bug.createdAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
