<div class="nav-bar-container">
  <app-navbar></app-navbar>
</div>
<div class="align">
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-container">
    <div class="button-container">
      <canvas #bugChartCanvas></canvas>
    </div>

    <div *ngIf="showChartFlag1"></div>
    <div class="row">
      <div class="card">
        <div class="card-header">Total Bug Count</div>
        <div class="card-body">
          <p>{{ totalBugCount }}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Bug Count by Severity: Low</div>
        <div class="card-body">
          <p>{{ bugCountByLowSeverity }}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Bug Count by Severity: Medium</div>
        <div class="card-body">
          <p>{{ bugCountByMediumSeverity }}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Bug Count by Severity: High</div>
        <div class="card-body">
          <p>{{ bugCountByHighSeverity }}</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <canvas #bugChartCanvas></canvas>
    </div>
  </div>
</div>
