<div id="container" >
  <div id="sidebar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Feed</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Bugs</a></li>
      <li><a href="#">Timesheets</a></li>
      <li><a href="#">Milestones</a></li>
  </ul>
  </div>
  <div id="contentContainer">
    <div id="header">
      <div id="logo">
        Bug Tracker
      </div>
      <div id="menu">
        <a href="#">Home</a>
        <a href="#">Create Bug</a>
        <a href="#">Service</a>
        <a href="#">Logout</a>
        <a href="#">Home</a>
      </div>
      
    </div>
    <app-projects></app-projects>
  </div>
</div>
