<div
  class="flex flex-column d-flex justify-content-center align-items-center main-content-container"
>
  <div
    class="card flex d-flex flex-column col-md-2 align-items-center justify-items-center"
  >
    <form [formGroup]="registerForm" (submit)="registerUser(registerForm)">
      <h3 class="card-title">Register a new account</h3>
      <p>
        Already Have Account?
        <a class="lnk-toggler" data-panel=".panel-login" href="/login">Login</a>
      </p>
      <div class="form-group">
        <label for="username"
          >Username<span class="required-indicator">*</span></label
        >
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          [required]="true"
          formControlName="userName"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <label for="email"
          >Email address<span class="required-indicator">*</span></label
        >
        <input
          type="email"
          id="email"
          class="form-control"
          name="emailId"
          [required]="true"
          formControlName="emailID"
          placeholder="Email address"
        />
      </div>
      <div class="form-group">
        <label for="password"
          >Password<span class="required-indicator">*</span></label
        >
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          [required]="true"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <label for="userAcess"
          >User Role<span class="required-indicator">*</span></label
        >
        <select
          id="userAccess"
          class="form-control"
          formControlName="userAccess"
          [required]="true"
        >
          <option value="">Select User Role...</option>
          <option value="Admin">Admin</option>
          <option value="Tester">Tester</option>
          <option value="Developer">Developer</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
