<div class="nav-bar-container">
  <app-navbar></app-navbar>
</div>
<div class="align">
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>

  <div class="container">
    <div class="card-header d-flex justify-content-end">
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.userId }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.emailId }}</td>
            <td>{{ user.access }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteUser(user.userId)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
